section {
  margin: 24px 16px 0 24px;
  padding-bottom: 16px;
  .head {
    padding: 24px;
  }
  h2, h4, h5 {
    font-weight: lighter;
    margin-bottom: 16px;
  }
  .form-group {
    button {
      width: 35%;
      background-color: #27CCC0;
      color: white;
      margin-left: 8px;
    }
  }
  .list {
    max-height: 530px;
    overflow-y: auto;
    padding-bottom: 16px;
    li {
      cursor: pointer;
    }
    .active-tab {
      border-left: 3px solid firebrick;
    }
  }
}
